{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>의뢰 정보 입력 - LawQuick</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/lawquick-info.css' %}"/>
    <script src="{% static 'js/info.js' %}"></script>
    <link href="https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css" rel="stylesheet" type="text/css">
</head>
<body>
{% include 'common/header.html'%}

<form method="post" action="{% url 'user:info_submit' %}">
    {% csrf_token %}
    <div class="info-form">
        <div class="top-title">어떤 점이 고민이신가요?</div>
        <div class="form-box">

            <div class="form-info">
                <div class="form-title">의뢰인 정보를 알려주세요.</div>
                <div class="form-comment">
                    <p>귀하의 상황에 맞는 맞춤형 법률 상담을 위해 몇 가지 정보를 알려주세요.</p>
                    <p>입력하신 정보는 오직 상담 목적으로만 활용되며, 철저한 보안 시스템 하에 관리됩니다.</p>
                </div>
            </div>

            {% if messages %}
            <script>
              {% for message in messages %}
                alert("{{ message|escapejs }}");
              {% endfor %}
            </script>
            {% endif %}

            <div class="input-form">

                <!-- 01. 혼인 정보 -->
                <div class="marriage-info" data-section="marriage">
                    <div class="info-num">01</div>
                    <div class="info-title">
                        혼인 관련 정보
                        <label class="skip-btn">
                            <input type="checkbox" name="marriage_skip_btn" onchange="skipSection(this)">
                            <span class="checkmark"></span> 건너 뛰기
                        </label>
                        <div class="subtitle">현재 혼인 상태에 대해 알려주세요.</div>
                    </div>
                    <div class="info-content">
                        <fieldset>
                            <div class="form-row">
                                <label for="marital_status" class="info-sub-title">혼인 상태</label>
                                <select id="marital_status" name="marital_status">
                                    <option value="" disabled selected>혼인 상태 선택</option>
                                    <option>법적 혼인</option>
                                    <option>사실혼</option>
                                    <option>별거중</option>
                                    <option>이혼</option>
                                </select>
                            </div>

                            <div class="form-row">
                                <label for="marriage_duration" class="info-sub-title">혼인 기간</label>
                                <input type="text" id="marriage_duration" name="marriage_duration" placeholder="혼인 기간 (예: 2년)">
                            </div>

                            <div class="form-row">
                                <label for="divorce_status" class="info-sub-title">이혼 상태</label>
                                <select id="divorce_status" name="divorce_status">
                                    <option value="" disabled selected>이혼 상태 선택</option>
                                    <option>이혼 고려중</option>
                                    <option>이혼 준비중</option>
                                    <option>이혼 진행중</option>
                                    <option>이미 이혼함</option>
                                </select>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <!-- 02. 자녀 정보 -->
                <div class="children-info" data-section="children">
                    <div class="info-num">02</div>
                    <div class="info-title">
                        자녀 관련 정보
                        <label class="skip-btn">
                            <input type="checkbox" name="children_skip_btn" onchange="skipSection(this)">
                            <span class="checkmark"></span> 건너 뛰기
                        </label>
                        <div class="subtitle">현재 자녀 상태에 대해 알려주세요.</div>
                    </div>
                    <div class="info-content">
                        <fieldset>
                            <div class="form-row">
                                <label class="info-sub-title">자녀 유무</label>
                                <div class="radio-group">
                                    <input type="radio" id="child_yes" name="has_children" value="True">
                                    <label for="child_yes" class="radio-button">유</label>

                                    <input type="radio" id="child_no" name="has_children" value="False">
                                    <label for="child_no" class="radio-button">무</label>
                                </div>
                            </div>

                            <div class="form-row">
                                <label for="children_ages" class="info-sub-title">자녀 나이</label>
                                <input type="text" id="children_ages" name="children_ages" placeholder="자녀 나이(예: 9세, 12세)">
                            </div>
                        </fieldset>
                    </div>
                </div>

                <!-- 03. 기타 혼인 관련 정보 -->
                <div class="other-info" data-section="other">
                    <div class="info-num">03</div>
                    <div class="info-title">
                        기타 혼인 관련 정보
                        <label class="skip-btn">
                            <input type="checkbox" name="other_skip_btn" onchange="skipSection(this)">
                            <span class="checkmark"></span> 건너 뛰기
                        </label>
                        <div class="subtitle">현재 상태에 대해 알려주세요.</div>
                    </div>
                    <div class="info-content">
                        <fieldset>
                            <div class="form-row">
                                <label for="property_range" class="info-sub-title">재산 범위</label>
                                <select id="property_range" name="property_range">
                                    <option value="" disabled selected>재산 범위 선택</option>
                                    <option>5천만원 미만</option>
                                    <option>5천만원 이상 ~ 1억원 미만</option>
                                    <option>1억원 이상 ~ 10억원 미만</option>
                                    <option>10억원 이상</option>
                                </select>
                            </div>

                            <div class="form-row">
                                <label for="experience" class="info-sub-title">경험 여부</label>
                                <select id="experience" name="experience">
                                    <option value="" disabled selected>경험 선택</option>
                                    <option>가정 폭력 또는 정신적 고통 경험 있음</option>
                                    <option>가정 폭력 또는 정신적 고통 경험 없음</option>
                                </select>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <!-- 04. 상세 고민 입력 -->
                <div class="detail-info" data-section="detail">
                    <div class="info-num">04</div>
                    <div class="info-title">
                        상세 고민 입력
                        <label class="skip-btn">
                            <input type="checkbox" name="detail_skip_btn" onchange="skipSection(this)">
                            <span class="checkmark"></span> 건너 뛰기
                        </label>
                        <div class="subtitle">현재 고민을 들려주세요. 자세하게 적을수록 좋아요.</div>
                    </div>
                    <div class="info-content">
                        <fieldset>
                            <textarea name="detail_info" class="form-control" rows="8" placeholder="예) 12세 아이 한 명을 두었는데, 이혼하고 싶어요. 남편이 가정폭력을 합니다."></textarea>
                        </fieldset>
                    </div>
                </div>

                <!-- 버튼 -->
                <div class="button-row">
                    <button type="submit" class="btn-confirm">확인</button>
                    <button type="button" class="btn-cancel" onclick="handleCancel()">취소</button>
                </div>

            </div>
        </div>
    </div>
</form>

</body>
</html>
