{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>회원 가입 | LawQuick</title>
  <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/common.css' %}" />
  <link rel="stylesheet" href="{% static 'css/lawquick-join.css' %}" />
</head>
<body>
  {% include 'common/header.html' %}

  <div class="header_tit">
    <h2>회원 가입</h2>
    <div class="progress-bar">
      <div class="active"></div>
      <div class="active"></div>
      <div></div>
    </div>
  </div>

  <div class="container join-confirm">
    <h2 class="email-cert-title">이메일 인증</h2>
    <p class="desc join-confirm-desc">
      이메일로 전송된 인증번호 5자를 기입해주세요.
    </p>

    {% if error %}
      <p class="error-text" style="color: red;">{{ error }}</p>
    {% endif %}


    <form method="post" action="{% url 'user:join_03' %}" class="join-auth-form">
      {% csrf_token %}
      <input type="text" name="auth_code" class="input-auth-code" placeholder="인증번호 입력" maxlength="5" required />
      <p class="helper-text" id="auth-helper">※ 인증메일은 1시간 이내 완료해주세요.</p>
      <button type="submit" class="btn-submit">확인</button>
    </form>
  </div>
</body>
</html>